upstream myapp1 {
        {% for host in (groups['back'] | map('extract', hostvars, ['ansible_host'])) %}
        server {{ host }}:{{ application.app_port }};
        {% endfor %}
    }

server {
    listen {{ nginx_port }} default_server;
    server_name {{ nginx_server_names | join (' ')}};

    location / {
       proxy_set_header HOST $host;
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

       proxy_pass http://myapp1;
    }

    location ~ \.php$ {
      proxy_set_header HOST $http_host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

      proxy_pass http://myapp1;

    }
}